* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --main-color: #2947a9;
  --secondary-color: #f9995d;
  --title-color: #292e3d;
  --text-color: #525b7a;
  --alt-text-color: #c2c7d6;
  --bg: #eee;
  --section-padding: 60px;
  --h1-size: 72px;
  --h2-size: 36px;
  --h3-size: 20px;
  --text-size: 20px;
  --alt-text-size: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
section {
  padding: 50px 0;
}
.flex {
  display: flex;
  align-items: center;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.color-white {
  background-color: var(--white);
}
.section-description {
  margin: 20px 0;
  color: var(--text-color);
  line-height: 1.5;
}
.section-title {
  margin: 20px 0;
  font-size: var(--h2-size);
  color: var(--title-color);
}
.section-btn {
  display: block;
  min-width: 150px;
  max-width: fit-content;
  padding: 10px;
  text-align: center;
  color: var(--main-color);
  background-color: var(--bg);
  border-radius: 2px;
}
.text-center {
  text-align: center;
}
.special-text {
  color: var(--main-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px 0;
}
header .container {
  justify-content: space-between;
}
header .logo a {
  gap: 10px;
  font-weight: bold;
  font-size: 22px;
}
header nav ul li a {
  color: var(--title-color);
}
header nav ul li a:hover {
  color: var(--secondary-color);
}
header nav ul li:last-child a {
  color: var(--secondary-color);
}
@media (max-width: 991px) {
  header nav {
    position: relative;
  }
  header nav label img {
    cursor: pointer;
  }
  header nav input {
    appearance: none;
  }
  header nav input:checked + ul {
    display: block;
  }
  header nav ul {
    position: absolute;
    top: 48px;
    right: 0;
    display: none;
    min-width: 250px;
    border: 1px solid rgb(0 0 0 / 0.1);
  }
  header nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
  header nav ul li a {
    display: block;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  header nav label,
  header nav input {
    display: none;
  }
  header nav ul {
    display: flex;
    gap: 20px;
  }
}

.hero {
  height: 100vh;
  background-image: url(../images/hero.webp);
  background-size: cover;
  background-position: center;
}
.hero .container {
  height: 100%;
}
.hero h1 {
  font-size: 70px;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .hero h1 {
    font-size: 50px;
  }
}
.our-reputation .cards-list {
  padding-top: var(--section-padding);
  gap: 50px;
}
.cards-list .card {
  width: 270px;
  padding: 10px;
  background-color: var(--white);
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 4px;
}
.card img {
  margin-bottom: 20px;
}
.about {
  position: relative;
}
.about .info {
  padding: 20px;
  background-color: var(--main-color);
}
@media (min-width: 992px) {
  .about .info {
    position: absolute;
    top: calc(50% - 170px);
    right: 200px;
    width: 400px;
  }
}
.about .info h2 {
  color: var(--white);
}
.about .info p {
  color: var(--white);
}
.about .info a {
  color: var(--main-color);
}
.services {
  background-color: var(--bg);
}
.services .cards-list {
  gap: 100px;
}
.services .card {
  padding: 20px;
  border: none;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 0.1);
}
.services .card:nth-child(even) {
  background-color: var(--main-color);
}
.services .card img {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.services .card:nth-child(even) img {
  border-bottom-color: var(--white);
}
.services .card h3 {
  color: var(--main-color);
}
.services .card:nth-child(even) h3 {
  color: var(--white);
}
.contact .container img {
  width: 45%;
  margin-left: 80px;
}
@media (max-width: 991px) {
  .contact .container img {
    display: none;
  }
  .col {
    width: fit-content;
  }
}
.contact .container .col {
  width: 50%;
}
.contact .container a {
  background-color: var(--main-color);
  color: var(--bg);
}
.consultation {
  background-image: url(../images/image-2.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.consultation .container {
  gap: 100px;
}
.consultation p {
  color: var(--white);
}
.consultation .section-description {
  font-size: 20px;
}
@media (min-width: 992px) {
  .consultation .col:last-child a {
    margin-left: auto;
  }
  .consultation .section-description {
    font-size: 30px;
  }
}
.consultation a {
  background-color: transparent;
  border: 2px solid var(--white);
}
.project-card {
  background-color: var(--main-color);
}
.col-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 40px;
}
.projects .project-card h3,
.projects .project-card p {
  color: var(--white);
  padding: 10px;
}
.projects .container .text {
  color: var(--alt-text-color);
  padding: 20px 0;
  line-height: 1.6;
}
h4 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}
.contact-us {
  position: relative;
  background-color: var(--bg);
}
.contact-us h2 {
  font-size: 50px;
  font-weight: bold;
}
.contact-us p {
  font-size: var(--alt-text-size);
  color: var(--text-color);
  padding-top: 20px;
  line-height: 1.6;
}
.contact-us form input,
textarea {
  padding: 8px;
  background-color: var(--white);
  border: 1px solid rgb(0 0 0 / 0.1);
  outline: none;
  margin: 15px;
  width: 250px;
}
.red {
  color: red;
  padding: 5px;
  font-size: 20px;
}
textarea {
  width: 200;
  height: 100px;
}
@media (max-width: 991px) {
  .contact-us form .btn {
    position: absolute;
  }
}
.contact-us form label {
  align-items: start;
}
.contact-us form .submit-btn {
  padding: 15px;
  font-size: 15px;
  margin-bottom: 10px;
  color: var(--white);
  background-color: var(--main-color);
}
.communicattion .container {
 justify-content: space-between;
  gap: 40px;
}
.communicattion .container span {
  font-size: var(--fs-16px);
  font-weight: bold;
  color: var(--main-color);
}
.communicattion .container .col ul li {
  margin-bottom: 20px;
}
.communicattion .container .col ul li span:last-child {
  color: var(--text-color);
}
.new {
  display: block;
  padding: 20px;
}
.communicattion .container .col .form input[type="email"] {
  max-width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--alt-text-color);
}
.communicattion .container .col .form input[type="submit"] {
  padding: 10px 25px;
  border-radius: 8px;
  color: var(--clr-white);
  background-color: var(--secondary-color);
}
.communicattion .container .col .links {
  margin-top: 20px;
  padding: 30px;
  cursor: pointer;
}
.communicattion .container .col .links ul {
  gap: 30px;
  cursor: pointer;
}
.communicattion .container .col ul li a {
  color: var(--main-color);
}
footer{
  background-color: var(--main-color);
  padding: 30px 0;
}
footer .container p{
  color:var(--alt-text-color);
}